html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #666;
}
li,
a,
h1,
h2,
pre {
  padding: 0;
  margin: 0;
  list-style: none;
}
input {
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent;
}

/* 全局滚动条样式 */
@media (min-width: 1000px) {
  *::-webkit-scrollbar {
    display: block;
    width: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background: #ff007a;
    border-radius: 4px;
  }
  *::-webkit-scrollbar-track {
    background: var(--comics-headerBg-color);
    border-radius: 4px;
  }
}

/* 移动端隐藏滚动条 */
@media (max-width: 1000px) {
  *::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
