.darkMode {
  --comics-bg-color: #000;
  --comics-cardBg-color: #1f1f1f;
  --comics-cardTitle-color: #d6d6d6;
  --comics-headerBg-color: #1f1f1f;
  --comics-headerIcon-color: #858585;
  --comics-headerSearchBg-color: #858585;
  --comics-menuText-color: #d6d6d6;

  
}
